.PodcastEpisodeItem {
  &.mobile {
    .titleDisplay {
      margin: 50px 0 20px;
    }

    .widget {
      margin-bottom: 30px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.titleDisplay {
  width: 100%;
  margin: 60px 0 20px;
  align-items: flex-start;
}

.widget {
  width: 100%;
  height: 150px;
  margin-bottom: 40px;
}
