.Header {
  width: 100%;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.secondaryTitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.secondaryTitle,
.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
