.PageListItem {
  // top padding and negative margin used for hash links
  padding-top: 60px;

  &:first-of-type {
    margin-top: -60px;
  }

  &.mobile {
    padding-top: 40px;

    &:first-of-type {
      margin-top: -40px;
    }

    .row {
      flex-direction: column;
      margin: 0 0 40px;
    }

    .thumbnail {
      align-self: stretch;
      margin: 0 0 30px;
    }

    .infoContainer {
      align-self: stretch;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px 50px;
}

.thumbnail {
  flex-shrink: 0;
  margin-right: 40px;
}

.infoContainer {
  flex-grow: 1;
}

.header {
  margin-bottom: 30px;
}

.description {
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
