.TitleDisplay {
  display: flex;
  align-items: center;
  overflow: hidden;

  &.mobile {
    flex-direction: column;

    .thumbnail {
      align-self: stretch;
      margin: 0 0 30px;
    }

    .titleContainer {
      align-self: stretch;
    }
  }

  &.noThumbnail:not(.fullWidth) {
    max-width: 530px;
  }
}

.thumbnail {
  flex-shrink: 0;
  margin-right: 40px;
}

.titleContainer {
  flex-grow: 1;
}

.title {
  margin-bottom: 30px;
}

.description {
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
