.MobileNav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.drawer {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;
  padding: 20px;
  background-color: #f4f4f4;
}
