.Nav {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  position: relative;
}

.navItems {
  z-index: 1;
}

.navArrow {
  position: absolute;
  margin: -1px -10px;
  font-size: 20px;
  transition: top 0.3s;
}
