.NavWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: filter 0.3s;

  &.responsive {
    .pageTitle {
      top: 20px;
      left: 20px;
    }
  }

  &.blur {
    filter: blur(10px);
  }
}

.drawerButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.pageTitle {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  transition: opacity 0.2s;

  &.hide {
    opacity: 0;
    z-index: -1;
  }
}

.nav {
  position: absolute;
  top: 40%;
  left: 30px;
}

.banner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
