.NavWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: filter 0.3s;

  &.responsive {
    .pageTitle {
      top: 20px;
      left: 20px;
    }
  }

  &.blur {
    filter: blur(10px);
  }
}

.drawerButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
}

.pageTitle {
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav {
  position: absolute;
  top: 40%;
  left: 30px;
}

.banner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
