.scrollContainer {
  height: 100%;
  overflow-y: auto;
}

.contentContainer {
  max-width: 800px;
  margin: 15% auto 20%;
  padding: 0 150px;
  opacity: 0.4;
  transition: opacity 0.4s cubic-bezier(0.5, 1.5, 0.5, -0.5);

  &.responsive {
    margin: 130px auto calc(20% + 80px);
    padding: 0 20px;
  }

  &.visible {
    opacity: 1;
  }
}
