.Page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pageTitle {
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav {
  position: absolute;
  top: 40%;
  left: 30px;
}

.scrollContainer {
  height: 100%;
  overflow-y: auto;
}

.contentContainer {
  max-width: 800px;
  margin: 250px auto 300px;
}
