.PageTitle {
  width: 100px;

  &.responsive {
    .title {
      font-size: 22px;
    }
  }
}

.title {
  font-size: 24px;
  font-weight: bold;

  > a {
    color: black;
    text-decoration: none;
  }
}
