.ReviewListItem {
  padding: 0 10px;

  &.mobile {
    .row {
      padding: 0 10px 30px;
      flex-direction: column;
    }

    .thumbnail {
      align-self: center;
      margin: 0 0 30px;
    }

    .contentContainer {
      margin-bottom: 30px;
    }

    .divider {
      padding: 0 10px;
      margin-bottom: 50px;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px;
}

.thumbnail {
  flex-shrink: 0;
  margin-right: 30px;
}

.info {
  flex-grow: 1;
}

.header {
  margin-bottom: 30px;
}

.contentContainer {
  margin-bottom: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  margin-bottom: 70px;
}
