// @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-react-inputs/styles/material.css';
.createButton {
  margin: '0 auto';
  display: 'flex';
  height: 60;
  border-radius: 15;
  background-color: 'purple';
}
.reviewsSection {
  overflow-y: 'auto';
  height: 600;
}
.reviewsHeader {
  margin: 20;
}
.reviewContent {
  width: 800;
  margin-bottom: 50;
}
.deleteButton {
  margin: 20;
  border-radius: 15;
  background-color: 'rgba(113, 12, 245, 0.777)';
}
