.ReviewPage {
  position: relative;

  &.mobile {
    .content {
      margin: 0;
    }
  }
}

.mobileHeader {
  margin-bottom: 40px;
}

.staticContainer {
  position: sticky;
  top: 25%;
  height: 0;
}

.infoCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 230px;
}

.header {
  margin-bottom: 30px;
}

.thumbnail {
  margin-bottom: 20px;
}

.divider {
  position: absolute;
  top: -30px;
  left: 270px;
  height: 450px;
}

.content {
  margin-left: 320px;
}
