.ReviewPage {
  position: relative;
  padding: 0 20px;

  &.mobile {
    .staticContainer {
      position: relative;
      top: 0;
      height: auto;
    }

    .infoCard {
      position: relative;
      margin-bottom: 30px;
    }

    .thumbnail {
      align-self: center;
    }

    .divider {
      display: none;
    }

    .contentContainer {
      margin: 0;
    }
  }
}

.staticContainer {
  position: sticky;
  top: 25%;
  height: 0;
}

.infoCard {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 30px;
}

.thumbnail {
  margin-bottom: 20px;
}

.divider {
  position: absolute;
  top: -30px;
  left: 270px;
}

.metaContainer {
  font-size: 14px;
  color: #767676;
}
