html {
  background-color: #ebebeb;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  height: 100vh;
  overflow: hidden;

  #root {
    height: 100vh;
  }
}

p {
  font-size: 14px;
  line-height: 18px;
}
