html {
  background-color: #ebebeb;
}

body {
  margin: 0;
  font-family: 'Sligoil-Micro', Inconsolata, monospace;
  font-size: 13px;
  height: 100vh;
  overflow: hidden;

  #root {
    height: 100vh;
  }
}

p {
  line-height: 18px;
  white-space: pre-wrap;
}

@font-face {
  font-family: 'FT88-Italic';
  src: local('FT88-Italic'), url(./fonts/FT88-Italic.otf) format('otf');
}

@font-face {
  font-family: 'Sligoil-Micro';
  src: local('Sligoil-Micro'), url(./fonts/Sligoil-Micro.otf) format('otf');
}
